@model SistemaAPIObjeto.Models.Objeto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Objeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoCor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoCor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoObservacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoObservacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoLocalDesaparecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoLocalDesaparecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoDtDesaparecimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoDtDesaparecimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoDtEncontro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoDtEncontro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetoStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetoStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ObjetoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
